{% extends 'voting/base2.html' %}
{% load static %}
{% block content %}

    <body>
        
        
        <div class="container-xl big-padding">
            <div class="row section-title">
                <h2 class="fs-4">Welcome to Damien E-Voting Platform </h2>
                <p>
                    Vote Anytime, Anywhere
                    Empowering Democracy, One Click at a Time.
                    
                    Welcome to the future of voting! Our E-Voting platform redefines the democratic process, 
                    providing a secure and convenient way for you to cast your vote from the comfort of your own space.
                    
                    <h2 class="fs-4">Why Choose Us?</h2>
                    <b>Secure & Reliable</b><br>
                    Your vote matters, and so does its security. Our platform employs cutting-edge encryption and 
                    robust security measures to ensure that your vote remains confidential and tamper-proof.<br>
                    
                    <b>Accessibility</b><br>
                    Bid farewell to long queues and geographical constraints. Vote at your convenience, whether you're at home, work, or on the move.
                    
                    <b>Transparency</b><br>
                    We believe in a transparent and fair electoral process. Our platform maintains transparency at every step, 
                    ensuring a trustworthy voting experience for all participants.
                    
                    <h2 class="fs-4">How It Works</h2><br>
                    <a href="/register" class="fw-bold fs-8 text-primary">Register:</a> Sign up easily and securely.<br>
                    <a href="/signin" class="fw-bold fs-8 text-primary">Signin</a> Cast Your Vote: Access the ballot and make your choice effortlessly.<br>
                    View Your Vote: Receive confirmation and track your vote securely.<br>
                    Join Us in Shaping the Future
                    Every vote counts! Your participation in this digital democracy is crucial. Be part of the movement towards a more inclusive and participatory society.</p>
            </div>


{% endblock %}