{% extends 'voting/base.html' %}
{% load static %}
{% block content %}

    <body>
        
        
        <div class="container-xl big-padding">
            <div class="row section-title">
                <h2 class="fs-4">Damien E-voting Company</h2>
                <p>Your vote is your voice in shaping the future. As you prepare to cast your ballot, 
                   we urge you to consider the impact of your decision. Each vote contributes to the 
                   collective voice of our community and influences the path we tread together.</p>
            </div>
            {%for candidate in candidates%}
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="text-white text-center mb-4 votcard shadow-md bg-white p-4 pt-5">
                        <img class="rounded-pill shadow-md p-2" src="{{candidate.image.url }}" alt="">
                        <h4 class="mt-3 fs-5 mb-1 fw-bold">{{candidate.name}}</h4>
                        <h6 class="fs-7">Runnung to Be: <span class="text-primary fw-bold">{{candidate.position}}</span></h6>
                        <p class="text-dark mt-3 mb-3 fs-8">{{candidate.manifesto}}</p>
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary fw-bolder fs-8">View Manifesto</button>

                        <form action="" method="POST"> {% csrf_token %}
                        <button class="btn btn-danger fw-bolder px-4 ms-2 fs-8">Vote</button>
                        </form>
                    </div>
                </div>
                {%endfor%}
                 
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-6 fw-bold fs-5" id="exampleModalLabel">View Manifesto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul class="molist">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh et felis interdum accumsan. Pellentesque elit odio, interdum quis ante in, varius rhoncus orci.</li>
                    <li>Etiam laoreet dapibus ante at mollis. Morbi lobortis ultricies risus, in faucibus est blandit eu. Nunc nec imperdiet elit.</li>
                    <li>Praesent eget massa finibus, placerat tortor sed, pretium justo. Aenean et lectus accumsan, tincidunt metus sit amet, laoreet nunc.</li>
                    <li>In et tincidunt est. Sed neque sapien, ultricies a orci et, fringilla egestas nibh. Sed luctus eros et erat suscipit fermentum.</li>
                    <li>Cras blandit orci quis purus placerat tincidunt. Nunc ullamcorper iaculis nibh, sed dapibus dui lobortis nec.</li>
                    <li>Sed tristique ante ac rhoncus facilisis. Maecenas hendrerit velit a interdum convallis. Vivamus tempus eu justo nec rutrum. Praesent sollicitudin interdum nisl, at sollicitudin justo interdum vel</li>
                    <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eget orci maximus, tincidunt nulla molestie, porta nisi. Integer fringilla lorem at lacinia iaculis. </li>
                    <li>Maecenas tempus libero laoreet est facilisis, vitae iaculis dui eleifend. Proin eget magna vitae diam dictum interdum at at nulla. Fusce eu porttitor felis. Aenean pretium lacinia nunc ut convallis.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
   
   
    </body>
   {% endblock %}